.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  border: 1px solid black;
}

.child {
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}

.text {
  font-size: 30px;
}
